##### Importing suicide statistics from WHO API

In [1]:
import requests
import json
import pandas as pd
r = requests.get('http://apps.who.int/gho/athena/api/GHO/MH_12/.json?filter=Year:2016')
data = r.json()

##### Converting JSON data to Python List

In [2]:
list_of_data = []
for fact in data['fact']:
    for category in fact['Dim']:
        if category['category'] == 'COUNTRY':
            country_code = category['code']
        elif category['category'] == "SEX":
            sex = category['code']
    suicide_rate = fact['value']['numeric']
    list_of_data.append({'Country Code': country_code, 'Sex': sex, "Suicide Rate": suicide_rate})

country_codes = []
for country in list_of_data:
    country_codes.append(country['Country Code'])

country_codes = set(country_codes)

data_dictionary = []
for country in country_codes:
    data_dictionary.append({'Country Code': country, 'Male Suicide Rate':'', 'Female Suicide Rate':'', 'Combined Suicide Rate':''})

##### creating Python list with dictionary for each country

In [3]:
for data in list_of_data:
    for country in data_dictionary:
        if data['Country Code'] == country['Country Code']:
            if data['Sex'] == 'MLE':
                country['Male Suicide Rate'] = data['Suicide Rate']
            elif data['Sex'] == "FMLE":
                country['Female Suicide Rate'] = data['Suicide Rate']
            elif data['Sex'] == 'BTSX':
                country['Combined Suicide Rate'] = data['Suicide Rate']

###### Converting to Pandas DataFrame

In [4]:
suicide_rates = pd.DataFrame.from_dict(data_dictionary,)
suicide_rates.set_index(['Country Code'], inplace=True)
suicide_rates.sort_index(inplace=True)

In [5]:
suicide_rates.head()

              Combined Suicide Rate  Female Suicide Rate  Male Suicide Rate
Country Code
AFG                             6.4                  2.1               10.6
AGO                             8.9                  4.6               14.0
ALB                             5.6                  4.3                7.0
ARE                             2.7                  0.8                3.5
ARG                             9.1                  3.5               15.0

###### Adding country names

In [6]:
r = requests.get('http://apps.who.int/gho/athena/api/GHO/MH_12/.json?filter=Year:2016')
data = r.json()
country_names = []
for country in data['dimension'][4]['code']:
    country_names.append({'Country Code': country['label'], 'Country Name': country['display']})

country_names_df = pd.DataFrame.from_dict(country_names)

country_names_df.set_index(['Country Code'], inplace=True)

suicide_rates = suicide_rates.join(country_names_df, on=['Country Code'], how='inner')

suicide_rates = suicide_rates[['Country Name', 'Combined Suicide Rate', 'Male Suicide Rate', 'Female Suicide Rate']]

In [7]:
suicide_rates.head()

,Country Name,Combined Suicide Rate,Male Suicide Rate,Female Suicide Rate
Country Code,,,,
AFG,Afghanistan,6.4,10.6,2.1
AGO,Angola,8.9,14.0,4.6
ALB,Albania,5.6,7.0,4.3
ARE,United Arab Emirates,2.7,3.5,0.8
ARG,Argentina,9.1,15.0,3.5

##### importing percentage of population living in cities data from WHO API

In [8]:
r = requests.get('http://apps.who.int/gho/athena/api/GHO/AIR_3/?format=json')
data = r.json()

###### Converting JSON data to Python list

In [9]:
data_dictionary = []
for country in data['fact']:
    for category in country['Dim']:
        if category['category'] == "COUNTRY":
            countrycode = category['code']
    data_dictionary.append({"Country Code": countrycode, "% Living in Cities > 100k": country['value']['numeric']})

###### Converting info to Pandas DataFrame

In [10]:
percent_living_in_cities = pd.DataFrame.from_dict(data_dictionary)

In [11]:
percent_living_in_cities.set_index(['Country Code'], inplace=True)
percent_living_in_cities.head()

              % Living in Cities > 100k
Country Code
AFG                               15.56
ALB                                9.34
DZA                               24.73
AND                               38.70
AGO                               19.97

###### Combining with suicide stats DataFrame

In [12]:
suicide_rates = suicide_rates.join(percent_living_in_cities, on=['Country Code'], how='inner')

In [13]:
suicide_rates

,Country Name,Combined Suicide Rate,Male Suicide Rate,Female Suicide Rate,% Living in Cities > 100k
Country Code,,,,,
AFG,Afghanistan,6.40000,10.6,2.1,15.56
AGO,Angola,8.90000,14.0,4.6,19.97
ALB,Albania,5.60000,7.0,4.3,9.34
ARE,United Arab Emirates,2.70000,3.5,0.8,70.03
ARG,Argentina,9.10000,15.0,3.5,74.17
ARM,Armenia,5.70000,10.1,2.0,53.58
ATG,Antigua and Barbuda,4.30386,0.0,0.9,33.07
AUS,Australia,11.70000,17.4,6.0,71.69
AUT,Austria,11.40000,17.5,5.7,37.26
AZE,Azerbaijan,2.60000,4.3,1.0,23.27
BDI,Burundi,15.00000,23.1,7.7,7.04
BEL,Belgium,15.70000,22.2,9.4,34.03
BEN,Benin,15.70000,22.6,9.6,19.24
BFA,Burkina Faso,14.80000,22.4,9.1,14.11
BGD,Bangladesh,6.10000,5.5,6.7,8.88
BGR,Bulgaria,7.90000,13.1,3.2,37.05
BHR,Bahrain,5.70000,7.9,2.1,25.88
BHS,Bahamas,1.60000,2.8,0.5,72.28
BIH,Bosnia and Herzegovina,6.40000,10.6,2.5,37.27
BLR,Belarus,21.40000,39.3,6.2,48.56
BLZ,Belize,5.90000,9.9,2.0,25.02
BOL,Bolivia (Plurinational State of),12.90000,16.9,8.9,44.85
BRA,Brazil,6.10000,9.7,2.8,45.43
BRB,Barbados,0.40000,0.8,0.3,3.94
BRN,Brunei Darussalam,4.50000,6.2,2.8,29.64
BTN,Bhutan,11.60000,13.8,8.9,2.62
BWA,Botswana,11.50000,18.3,5.7,12.73
CAF,Central African Republic,11.60000,18.0,6.0,20.01
CAN,Canada,10.40000,15.1,5.8,79.19
CHE,Switzerland,11.30000,15.8,6.9,42.30
...,...,...,...,...,...
SOM,Somalia,8.30000,11.5,5.4,20.06
STP,Sao Tome and Principe,3.10000,4.2,2.1,27.04
SUR,Suriname,23.20000,36.1,10.9,55.03
SVK,Slovakia,10.10000,18.4,2.6,17.12
SVN,Slovenia,13.30000,22.4,4.5,21.16
SWE,Sweden,11.70000,15.8,7.4,29.85
SWZ,Eswatini,16.70000,25.4,9.6,7.38
SYR,Syrian Arab Republic,2.40000,3.8,1.1,37.51
TCD,Chad,15.50000,17.1,13.8,18.81
TGO,Togo,16.60000,22.7,10.9,16.14
THA,Thailand,12.90000,21.4,4.8,16.14
TJK,Tajikistan,3.30000,5.0,1.7,11.00
TKM,Turkmenistan,7.20000,11.0,3.7,18.50
TTO,Trinidad and Tobago,12.90000,21.9,4.3,4.13
TUN,Tunisia,3.20000,4.4,2.2,29.97
TUR,Turkey,7.20000,11.3,3.2,60.51
TZA,United Republic of Tanzania,9.60000,14.3,5.4,20.54
UGA,Uganda,20.00000,21.2,18.7,5.01
UKR,Ukraine,18.50000,34.5,4.7,41.55
URY,Uruguay,16.50000,26.8,7.1,44.40
USA,United States of America,13.70000,21.1,6.4,72.40
UZB,Uzbekistan,7.40000,10.3,4.6,20.54
VCT,Saint Vincent and the Grenadines,2.40000,3.9,0.9,18.59
VEN,Venezuela (Bolivarian Republic of),3.80000,6.6,1.2,61.58
VNM,Viet Nam,7.00000,10.8,3.4,20.59
VUT,Vanuatu,5.40000,8.1,2.7,14.17
YEM,Yemen,9.25494,13.4,6.2,15.10
ZAF,South Africa,12.80000,21.7,5.1,42.82
ZMB,Zambia,8.44795,17.5,6.2,29.35
ZWE,Zimbabwe,19.10000,29.1,11.1,25.85

###### Scraping Internet Data from CIA World Fact Book using BeautifulSoup

In [14]:
from bs4 import BeautifulSoup
r = requests.get('https://www.cia.gov/library/publications/the-world-factbook/fields/204.html#AF')
c = r.content
soup = BeautifulSoup(c)

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/briansrebrenik/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [15]:
data = soup.findAll('tr')[1:]

##### Scraping country names and internet connectivity info

In [16]:
data_dictionary = []
for country in data:
    try:
        country_name = country.findAll('td', {'class': 'country'})[0].text
        country_name_formatted = country_name.replace('\n', "")
        internet_percentage = country.findAll('span', {'class': 'subfield-number'})[1].text
        internet_percentage_formatted = float(internet_percentage.replace("%", ""))
        data_dictionary.append({'country': country_name_formatted, "percentage of population with internet access": internet_percentage_formatted})
    except:
        pass

##### Converting to Pandas DataFrame

In [17]:
internet_stats_df = pd.DataFrame.from_dict(data_dictionary)

In [18]:
internet_stats_df.columns= ['Country Name', "% of Population with Internet Access"]
internet_stats_df.set_index(['Country Name'], inplace=True)
internet_stats_df.head()

                % of Population with Internet Access
Country Name
Afghanistan                                     10.6
Albania                                         66.4
Algeria                                         42.9
American Samoa                                  31.3
Andorra                                         97.9

##### Combining with other data collected

In [19]:
suicide_rates = suicide_rates.join(internet_stats_df, on=['Country Name'], how='inner')

In [20]:
suicide_rates

,Country Name,Combined Suicide Rate,Male Suicide Rate,Female Suicide Rate,% Living in Cities > 100k,% of Population with Internet Access
Country Code,,,,,,
AFG,Afghanistan,6.40000,10.6,2.1,15.56,10.6
AGO,Angola,8.90000,14.0,4.6,19.97,13.0
ALB,Albania,5.60000,7.0,4.3,9.34,66.4
ARE,United Arab Emirates,2.70000,3.5,0.8,70.03,90.6
ARG,Argentina,9.10000,15.0,3.5,74.17,70.2
ARM,Armenia,5.70000,10.1,2.0,53.58,62.0
ATG,Antigua and Barbuda,4.30386,0.0,0.9,33.07,65.2
AUS,Australia,11.70000,17.4,6.0,71.69,88.2
AUT,Austria,11.40000,17.5,5.7,37.26,84.3
AZE,Azerbaijan,2.60000,4.3,1.0,23.27,78.2
BDI,Burundi,15.00000,23.1,7.7,7.04,5.2
BEL,Belgium,15.70000,22.2,9.4,34.03,86.5
BEN,Benin,15.70000,22.6,9.6,19.24,12.0
BFA,Burkina Faso,14.80000,22.4,9.1,14.11,14.0
BGD,Bangladesh,6.10000,5.5,6.7,8.88,18.2
BGR,Bulgaria,7.90000,13.1,3.2,37.05,59.8
BHR,Bahrain,5.70000,7.9,2.1,25.88,98.0
BIH,Bosnia and Herzegovina,6.40000,10.6,2.5,37.27,69.3
BLR,Belarus,21.40000,39.3,6.2,48.56,71.1
BLZ,Belize,5.90000,9.9,2.0,25.02,44.6
BRA,Brazil,6.10000,9.7,2.8,45.43,59.7
BRB,Barbados,0.40000,0.8,0.3,3.94,79.5
BTN,Bhutan,11.60000,13.8,8.9,2.62,41.8
BWA,Botswana,11.50000,18.3,5.7,12.73,39.4
CAF,Central African Republic,11.60000,18.0,6.0,20.01,4.6
CAN,Canada,10.40000,15.1,5.8,79.19,89.8
CHE,Switzerland,11.30000,15.8,6.9,42.30,89.4
CHL,Chile,9.70000,16.0,3.8,56.60,66.0
CHN,China,8.00000,7.9,8.3,37.18,53.2
CMR,Cameroon,19.50000,26.9,12.5,27.33,25.0
...,...,...,...,...,...,...
SDN,Sudan,9.50000,14.5,4.6,17.49,28.0
SEN,Senegal,11.80000,20.3,5.2,28.65,25.7
SGP,Singapore,7.90000,11.1,4.9,78.73,81.0
SLE,Sierra Leone,16.10000,18.2,14.2,20.03,11.8
SLV,El Salvador,13.50000,24.8,4.3,27.46,29.0
SOM,Somalia,8.30000,11.5,5.4,20.06,1.9
STP,Sao Tome and Principe,3.10000,4.2,2.1,27.04,25.8
SUR,Suriname,23.20000,36.1,10.9,55.03,45.4
SVK,Slovakia,10.10000,18.4,2.6,17.12,80.5
SVN,Slovenia,13.30000,22.4,4.5,21.16,75.5
SWE,Sweden,11.70000,15.8,7.4,29.85,91.5
SWZ,Eswatini,16.70000,25.4,9.6,7.38,28.6
TCD,Chad,15.50000,17.1,13.8,18.81,5.0
TGO,Togo,16.60000,22.7,10.9,16.14,11.3
THA,Thailand,12.90000,21.4,4.8,16.14,47.5
TJK,Tajikistan,3.30000,5.0,1.7,11.00,20.5
TKM,Turkmenistan,7.20000,11.0,3.7,18.50,18.0
TTO,Trinidad and Tobago,12.90000,21.9,4.3,4.13,69.2
TUN,Tunisia,3.20000,4.4,2.2,29.97,50.9
TUR,Turkey,7.20000,11.3,3.2,60.51,58.3
UGA,Uganda,20.00000,21.2,18.7,5.01,45.9
UKR,Ukraine,18.50000,34.5,4.7,41.55,52.5
URY,Uruguay,16.50000,26.8,7.1,44.40,66.4
UZB,Uzbekistan,7.40000,10.3,4.6,20.54,46.8
VCT,Saint Vincent and the Grenadines,2.40000,3.9,0.9,18.59,51.8
VUT,Vanuatu,5.40000,8.1,2.7,14.17,24.0
YEM,Yemen,9.25494,13.4,6.2,15.10,24.6
ZAF,South Africa,12.80000,21.7,5.1,42.82,54.0
ZMB,Zambia,8.44795,17.5,6.2,29.35,25.5
ZWE,Zimbabwe,19.10000,29.1,11.1,25.85,23.1

###### Scraping Religous stats

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
r = requests.get('https://rationalwiki.org/wiki/Importance_of_religion_by_country')
c = r.content
soup = BeautifulSoup(c)

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/briansrebrenik/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [22]:
data = soup.findAll('table', {'class': 'wikitable'})
data = data[0].findAll('td')

In [23]:
religous_stats = []
for i in range(len(data)):
    if i == 0 or i % 3 == 0:
        country = data[i].text.strip()
    elif i in list(range(1, len(data), 3)):
        percentage_religious = float(data[i].text.replace("%", ""))
        religous_stats.append({'Country Name': country, "% Religious": percentage_religious})

In [24]:
religious_df = pd.DataFrame.from_dict(religous_stats)
religious_df.set_index(['Country Name'], inplace=True)
religious_df.head()

                % Religious
Country Name
Estonia                16.0
Sweden                 16.5
Denmark                18.0
Czech Republic         20.5
Norway                 20.5

###### Combine with rest of data

In [25]:
suicide_rates = suicide_rates.join(religious_df, on=['Country Name'], how='left')

In [26]:
suicide_rates

,Country Name,Combined Suicide Rate,Male Suicide Rate,Female Suicide Rate,% Living in Cities > 100k,% of Population with Internet Access,% Religious
Country Code,,,,,,,
AFG,Afghanistan,6.40000,10.6,2.1,15.56,10.6,97.0
AGO,Angola,8.90000,14.0,4.6,19.97,13.0,88.0
ALB,Albania,5.60000,7.0,4.3,9.34,66.4,32.5
ARE,United Arab Emirates,2.70000,3.5,0.8,70.03,90.6,91.0
ARG,Argentina,9.10000,15.0,3.5,74.17,70.2,66.0
ARM,Armenia,5.70000,10.1,2.0,53.58,62.0,72.5
ATG,Antigua and Barbuda,4.30386,0.0,0.9,33.07,65.2,NaN
AUS,Australia,11.70000,17.4,6.0,71.69,88.2,32.0
AUT,Austria,11.40000,17.5,5.7,37.26,84.3,55.0
AZE,Azerbaijan,2.60000,4.3,1.0,23.27,78.2,49.5
BDI,Burundi,15.00000,23.1,7.7,7.04,5.2,97.5
BEL,Belgium,15.70000,22.2,9.4,34.03,86.5,33.0
BEN,Benin,15.70000,22.6,9.6,19.24,12.0,92.5
BFA,Burkina Faso,14.80000,22.4,9.1,14.11,14.0,87.5
BGD,Bangladesh,6.10000,5.5,6.7,8.88,18.2,100.0
BGR,Bulgaria,7.90000,13.1,3.2,37.05,59.8,33.5
BHR,Bahrain,5.70000,7.9,2.1,25.88,98.0,95.5
BIH,Bosnia and Herzegovina,6.40000,10.6,2.5,37.27,69.3,66.0
BLR,Belarus,21.40000,39.3,6.2,48.56,71.1,33.0
BLZ,Belize,5.90000,9.9,2.0,25.02,44.6,61.5
BRA,Brazil,6.10000,9.7,2.8,45.43,59.7,86.5
BRB,Barbados,0.40000,0.8,0.3,3.94,79.5,NaN
BTN,Bhutan,11.60000,13.8,8.9,2.62,41.8,NaN
BWA,Botswana,11.50000,18.3,5.7,12.73,39.4,77.0
CAF,Central African Republic,11.60000,18.0,6.0,20.01,4.6,94.0
CAN,Canada,10.40000,15.1,5.8,79.19,89.8,42.0
CHE,Switzerland,11.30000,15.8,6.9,42.30,89.4,41.5
CHL,Chile,9.70000,16.0,3.8,56.60,66.0,69.5
CHN,China,8.00000,7.9,8.3,37.18,53.2,NaN
CMR,Cameroon,19.50000,26.9,12.5,27.33,25.0,95.5
...,...,...,...,...,...,...,...
SDN,Sudan,9.50000,14.5,4.6,17.49,28.0,94.0
SEN,Senegal,11.80000,20.3,5.2,28.65,25.7,96.5
SGP,Singapore,7.90000,11.1,4.9,78.73,81.0,70.0
SLE,Sierra Leone,16.10000,18.2,14.2,20.03,11.8,98.0
SLV,El Salvador,13.50000,24.8,4.3,27.46,29.0,83.0
SOM,Somalia,8.30000,11.5,5.4,20.06,1.9,98.5
STP,Sao Tome and Principe,3.10000,4.2,2.1,27.04,25.8,NaN
SUR,Suriname,23.20000,36.1,10.9,55.03,45.4,NaN
SVK,Slovakia,10.10000,18.4,2.6,17.12,80.5,46.5
SVN,Slovenia,13.30000,22.4,4.5,21.16,75.5,47.0
SWE,Sweden,11.70000,15.8,7.4,29.85,91.5,16.5
SWZ,Eswatini,16.70000,25.4,9.6,7.38,28.6,NaN
TCD,Chad,15.50000,17.1,13.8,18.81,5.0,94.0
TGO,Togo,16.60000,22.7,10.9,16.14,11.3,80.0
THA,Thailand,12.90000,21.4,4.8,16.14,47.5,94.0
TJK,Tajikistan,3.30000,5.0,1.7,11.00,20.5,84.5
TKM,Turkmenistan,7.20000,11.0,3.7,18.50,18.0,NaN
TTO,Trinidad and Tobago,12.90000,21.9,4.3,4.13,69.2,92.0
TUN,Tunisia,3.20000,4.4,2.2,29.97,50.9,93.0
TUR,Turkey,7.20000,11.3,3.2,60.51,58.3,89.5
UGA,Uganda,20.00000,21.2,18.7,5.01,45.9,93.0
UKR,Ukraine,18.50000,34.5,4.7,41.55,52.5,45.5
URY,Uruguay,16.50000,26.8,7.1,44.40,66.4,40.5
UZB,Uzbekistan,7.40000,10.3,4.6,20.54,46.8,51.0
VCT,Saint Vincent and the Grenadines,2.40000,3.9,0.9,18.59,51.8,NaN
VUT,Vanuatu,5.40000,8.1,2.7,14.17,24.0,NaN
YEM,Yemen,9.25494,13.4,6.2,15.10,24.6,96.0
ZAF,South Africa,12.80000,21.7,5.1,42.82,54.0,84.5
ZMB,Zambia,8.44795,17.5,6.2,29.35,25.5,97.0
ZWE,Zimbabwe,19.10000,29.1,11.1,25.85,23.1,87.5